@import "tailwindcss";
@theme {
    --color-customBlack: #242423;
    --color-customGray: #333533;
    --color-customWhite: #E8EDDF;
    --color-customLightGray: #CFDBD5;
    --color-customYellow: #F5CB5C;
}

body {
    background-color: var(--color-customGray);
    color: white;
}
